# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.battle-ship-in-the-oo-way-submarine101.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
